In [1]:
import pandas as pd
import os 
os.getcwd()

'/Users/skaktikar/Desktop/Testing/EnvPyTest'

In [2]:
os.listdir(os.getcwd())

['testdata.ttl',
 'Untitled.ipynb',
 'test.py',
 'csvconvertor.py',
 'pypathfinder.py',
 'scrap',
 'testdata.csv',
 '.ipynb_checkpoints',
 '.vscode']

In [3]:
ddict = pd.read_csv("testdata.csv")
print(datadict)

    Name Address  PhoneNumber Gender CustomerType
0    Tom      NY       123456      M       Retail
1   Lily      CA       123421      F    Wholesale
2  Harry      MI        34234      M       Retail
3   Gary      SA       363456      M    Wholesale
4  Linda      AL       923903      F       Retail

AttributeError: module 'pandas' has no attribute 'dataframe'